@import url(bootstrap.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 12px;
}

:root {
  --primary: #db711b;
  --primary-tint: #fce4ce;
  --black: #141414;
  --white: #e8e8e8;
}

body {
  font-family: poppins;
}

.top {
  background: var(--primary);
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.top-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  height: 4rem;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  gap: 1rem;
  color: var(--white);
  text-transform: uppercase;
  padding: 1rem 0;
}

.left li,
.right li {
  padding: .5rem 1rem;
}

.left li:hover,
.right li:hover {
  background-color: rgba(20, 20, 20, 0.1);
}

.left a,
.right a {
  text-decoration: none;
  color: var(--white);
}

.right select {
  border: none;
  background-color: transparent;
  color: var(--white);
}

.right select option {
  background-color: var(--white);
  color: var(--black);
}

.navigation {
  background-color: var(--primary-tint);
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 5rem;
}

.links {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 500;
}

.navbar-nav .active, .navbar-nav li:hover .links {
  text-transform: capitalize;
  color: var(--primary);
}

.main {
  height: 80vh;
}

.main {
  width: 100%;
  background-image: url("/images/bg2.png");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero-text {
  margin-top: 5rem;
  gap: 2rem;
}

.hero-text .focus {
  margin-top: 15vh;
}

.hero-text h5 {
  color: var(--primary);
}

.hero-text h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.5rem;
}

.hero-text p {
  font-size: 1.3rem;
}

.hero-text .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.hero-text .main-cta {
  text-decoration: none;
  color: var(--white);
  background-color: var(--primary);
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: .5rem 2rem;
  border-radius: 2.5rem;
  border: 1px solid var(--primary);
}

.hero-text .main-cta:hover {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hero-text .secondary-cta {
  text-decoration: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: transparent;
  padding: .5rem 2.5rem;
  border-radius: 2.5rem;
  font-weight: 500;
}

.hero-text .secondary-cta:hover {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.collection-box {
  text-align: right;
}

.collection-boxes-row {
  background: var(--primary-tint);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  height: 35vh;
}

.collection-img-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 20rem;
  max-height: 25rem;
}

.collection-img-box img {
  max-height: 15rem;
  max-width: 100%;
}

.collection-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.collection-info a {
  text-decoration: none;
  color: var(--white);
}

.collection-info a span.shop-now {
  background-color: var(--primary);
  padding: .5rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 2rem;
  text-decoration: none;
}

.collection-info a:hover span.shop-now {
  background-color: var(--primary-tint);
  color: var(--primary);
  border-color: var(--primary);
  font-weight: 500;
}

.best-items {
  color: var(--primary);
  position: relative;
}

.best-items span {
  background-color: #fff;
  padding-inline: .3rem;
  border-radius: 50%;
}

.best-items::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: .5rem;
  z-index: -1;
  border-bottom: 2px solid var(--primary);
  width: 150px;
  height: 1px;
}

.slider {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.slider::before {
  content: ' ';
  position: absolute;
  display: inline-block;
  border-top: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  left: -3%;
  cursor: pointer;
}

.slider::after {
  content: ' ';
  position: absolute;
  display: inline-block;
  border-bottom: 5px solid var(--primary);
  border-right: 5px solid var(--primary);
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  right: -3%;
  cursor: pointer;
}

.slide {
  background-color: var(--primary-tint);
  padding: 1rem;
}

.slide .wishlist-icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: .5rem;
}

.slide .wishlist-icon span {
  background-color: white;
  padding: .4rem;
  color: var(--black);
  border-radius: 2rem;
  cursor: pointer;
}

.slide .wishlist-icon span.wishlishted {
  color: var(--primary);
}

.slide .material-icons-outlined {
  font-size: 1.8rem;
}

.slide .product-img {
  height: 15rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .product-img img {
  min-width: 80%;
  max-height: 70%;
  margin: 0 auto;
}

.name.price {
  margin-top: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.name.price h4 {
  font-size: 1.3rem;
}

.buy-now-btn {
  text-decoration: none;
  background-color: var(--primary);
  padding: .5rem 1.5rem;
  color: var(--white);
  border: 1px solid var(--primary);
  border-radius: 3rem;
}

.buy-now-btn:hover {
  color: var(--white);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.product-ratings .material-icons-outlined {
  font-size: 1.5rem;
  color: var(--primary);
}

.products-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.grid-center {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.show-more-btn {
  text-align: center;
  background-color: var(--primary);
  padding: .5rem 1rem;
  color: var(--white);
  font-size: 1.1rem;
  border-radius: 2rem;
  border: 1px solid var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-more-btn span {
  text-align: center;
}

.show-more-btn:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
}

.about-us .relative {
  position: relative;
}

.about-us .relative .picture {
  position: absolute;
  left: 53%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us .relative .picture img {
  width: 80%;
}

.about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  padding-left: 4.4rem;
  background-color: var(--primary-tint);
}

.heading.simple {
  padding: 0;
  margin: 0;
}

.heading h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4rem;
  margin-top: 2rem;
}

.heading p {
  width: 75%;
  font-size: 1.3rem;
}

.heading p.w-5 {
  width: 60%;
}

.shop-now-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  color: var(--white);
}

.shop-now-btn span {
  text-decoration: none;
  background-color: var(--primary);
  padding: .6rem 2rem;
  border: 1px solid var(--primary);
  border-radius: 2rem;
}

.shop-now-btn span:hover {
  color: var(--primary);
  background-color: transparent;
}

.product-wrapper {
  background-color: var(--primary-tint);
}

.gallery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.gallery-grid .span-2 {
  grid-column: span 2;
}

.product-img {
  height: 50vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.product-img img {
  max-height: 50vh;
  width: 80%;
}

.blogs {
  background-color: var(--primary-tint);
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog-grid .card-img {
  margin-bottom: 1.5rem;
  background: var(--primary);
  min-height: 20rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contact .container {
  background-color: var(--primary-tint);
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.contact-grid .contact-img {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  justify-self: flex-end;
}

.contact-grid form input[type="email"] {
  position: relative;
  width: 60%;
  padding: .6rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 3rem;
}

.contact-grid form input[type="email"]:focus {
  outline: none;
}

.contact-grid form .contact-submit-btn {
  border: none;
  background-color: var(--primary);
  width: 25%;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  padding: .6rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid var(--primary);
  position: relative;
  top: 0;
  left: -15%;
}

.contact-grid form .contact-submit-btn:hover {
  font-weight: bold;
}

.contact-grid form .contact-submit-btn:focus {
  outline: none;
}

.footer {
  background-color: var(--primary-tint);
}

.footer .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer .branding ul li {
  margin-bottom: .5rem;
}

.footer .branding ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  gap: .5rem;
  color: var(--black);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .branding ul li a:hover {
  color: var(--primary);
}

.footer .quick-links, .footer .brands, .footer .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer .quick-links ul li, .footer .brands ul li, .footer .categories ul li {
  list-style: "- ";
  margin-bottom: 1.5rem;
}

.footer .quick-links ul li a, .footer .brands ul li a, .footer .categories ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.footer .quick-links ul li a:hover, .footer .brands ul li a:hover, .footer .categories ul li a:hover {
  color: var(--primary);
}

.footer .footer-bottom {
  background-color: var(--primary);
  padding: 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white);
}

.footer .footer-bottom a {
  text-decoration: none;
  color: var(--white);
  padding: .5rem 1rem;
}

.footer .footer-bottom a:hover {
  background: rgba(20, 20, 20, 0.1);
}
/*# sourceMappingURL=style.css.map */